<div class="h-full flex flex-col relative">
  <MobileLoadingOverlay :state="loadingOverlayState"></MobileLoadingOverlay>
  <MobileToastStack :state="toastState"></MobileToastStack>

  <MobileAuthScreen v-if="authReady && !isAuthenticated" :state="authState"></MobileAuthScreen>

  <div v-else class="flex-1 min-h-0 flex flex-col bg-slate-50">
    <MobileAppHeader v-if="activeTab !== 'simulation_quiz'" :state="headerState"></MobileAppHeader>

    <main class="flex-1 min-h-0 overflow-y-auto overflow-x-hidden pb-28 relative bg-slate-50">
      <MobileDashboardScreens :state="dashboardScreensState"></MobileDashboardScreens>
      <MobileSocialScreens :state="socialScreensState"></MobileSocialScreens>
      <MobileProfileScreens :state="profileScreensState"></MobileProfileScreens>
    </main>

    <MobileBottomNav :state="bottomNavState"></MobileBottomNav>
    <MobileWorkflowScreens :state="workflowScreensState"></MobileWorkflowScreens>
    <MobileFamilyManageModal :state="familyManageModalState"></MobileFamilyManageModal>
    <MobileTaskDetailModal :state="taskDetailModalState"></MobileTaskDetailModal>
    <MobileAlertDetailModal :state="alertDetailModalState"></MobileAlertDetailModal>
    <MobileFamilyAlertModal :state="familyAlertModalState"></MobileFamilyAlertModal>
  </div>
</div>
